*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;

  display: grid;
  place-content: center;

  background-image: url(/images/bg-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: inline-block;
  padding: 2rem;
  align-self: flex-start;
}

.main-img {
  min-width: 100%;
}

.main-text {
  margin-top: 6rem;
  text-align: center;
  display: grid;
  place-content: center;
  max-width: 18rem;
}

.main-heading {
  color: #423a3a;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.6rem;
}

.heading-accent {
  color: #ce9898;
  font-weight: 300;
}

.main-copy {
  margin-top: 2rem;
  color: #ce9898;
  font-size: 0.875rem;
  font-weight: 300;
}

.form-email {
  margin-top: 2rem;
  margin-bottom: 5.5rem;
  position: relative;
}

.btn {
  border: none;
  background: linear-gradient(160deg, #f8bfbf, #ee8b8b);
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  position: absolute;
  transform: translateX(-3.5rem);
  box-shadow: -0px 20px 30px rgba(206, 152, 152, 0.4);
}

.form-input {
  background: transparent;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid rgba(206, 152, 152, 0.5);
  width: 100%;
}

input::placeholder {
  color: rgba(206, 152, 152, 0.5);
  letter-spacing: 1px;
  font-size: 0.875rem;
  padding-left: 0.5rem;
}

.form-success.active {
  color: rgb(3, 170, 25);
  display: block;
  padding: 0.5rem 1.8rem;
  font-size: 0.8125rem;
  position: absolute;
}

.form-success,
.form-error,
.form-error-icon {
  display: none;
}

.form-error.active {
  display: block;
  color: #f96464;
  padding: 0.5rem 1.8rem;
  font-size: 0.8125rem;
  position: absolute;
}

.form-error-icon.active {
  display: inline;
  position: absolute;
  top: 1rem;
  left: 18rem;
}

@media only screen and (min-width: 53.125rem) {
  .logo {
    width: 158px;
  }

  .main {
    display: grid;
    grid-template-rows: 50px 750px;
    grid-template-columns: minmax(min-content, 51.875rem) minmax(
        min-content,
        38.125rem
      );
  }

  .header {
    margin: 4rem 10rem 0;
    padding: 0;

    grid-column-start: 1;
    grid-column-end: 2;
  }

  .main-image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .main-text {
    text-align: left;
    margin-left: 10rem;
    max-width: 26rem;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .main-heading {
    font-size: 4rem;
  }

  .main-copy {
    font-size: 1rem;
  }

  .btn {
    padding: 1rem 2.5rem;
    transform: translateX(-5.5rem);
  }

  .form-input {
    padding: 1.2rem;
  }

  input::placeholder {
    font-size: 1rem;
  }
}
